---
title: Minsu's Digital Abode
permalink: /
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/main.js"></script>
    {% include fonts.html %}
  </head>
  <body>
    {% include logo-large.html %}
    <section id="home-container">
      <a href="/about">about</a>
      <a href="/blog">blog</a>
      <a id="resume-link" rel="noopener noreferrer" href="https://linkedin.com/in/minsupark" target="_blank">resume</a>
      <a id="resume-link" rel="noopener noreferrer" href="https://github.com/bak-minsu" target="_blank">github</a>
    </section>
    {% include footer.html %}
  </body>
</html>