<div class="slide-show-container">
    <img src="/assets/images/2025-12-23-public-key-cryptography-comic/comic-01.jpeg"/>
    <img src="/assets/images/2025-12-23-public-key-cryptography-comic/comic-02.jpeg"/>
    <img src="/assets/images/2025-12-23-public-key-cryptography-comic/comic-03.jpeg"/>
    <img src="/assets/images/2025-12-23-public-key-cryptography-comic/comic-04.jpeg"/>
    <img src="/assets/images/2025-12-23-public-key-cryptography-comic/comic-05.jpeg"/>
    <img src="/assets/images/2025-12-23-public-key-cryptography-comic/comic-06.jpeg"/>
    <img src="/assets/images/2025-12-23-public-key-cryptography-comic/comic-07.jpeg"/>
    <img src="/assets/images/2025-12-23-public-key-cryptography-comic/comic-08.jpeg"/>
    <img src="/assets/images/2025-12-23-public-key-cryptography-comic/comic-09.jpeg"/>
    <img src="/assets/images/2025-12-23-public-key-cryptography-comic/comic-10.jpeg"/>
    <img src="/assets/images/2025-12-23-public-key-cryptography-comic/comic-11.jpeg"/>
    <img src="/assets/images/2025-12-23-public-key-cryptography-comic/comic-12.jpeg"/>
    <img src="/assets/images/2025-12-23-public-key-cryptography-comic/comic-13.jpeg"/>
    <img src="/assets/images/2025-12-23-public-key-cryptography-comic/comic-14.jpeg"/>
    <img src="/assets/images/2025-12-23-public-key-cryptography-comic/comic-15.jpeg"/>
    <img src="/assets/images/2025-12-23-public-key-cryptography-comic/comic-16.jpeg"/>
    <img src="/assets/images/2025-12-23-public-key-cryptography-comic/comic-17.jpeg"/>
    <img src="/assets/images/2025-12-23-public-key-cryptography-comic/comic-18.jpeg"/>
    <img src="/assets/images/2025-12-23-public-key-cryptography-comic/comic-19.jpeg"/>
    <img src="/assets/images/2025-12-23-public-key-cryptography-comic/comic-20.jpeg"/>
    <div class="slide-show-buttons">
        <button class="slide-show-prev">&#10094;</button>
        <button class="slide-show-next">&#10095;</button>
    </div>
</div>