@keyframes blink {
    0% {
        opacity: 0;
    }
    9% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    26% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#logo-container img {
    animation: blink 1s linear;
}

@keyframes button-hover {
    from {
        background-color: transparent;
        color: #FF6663;
    }
    to {
        background-color: #FF6663;
        color: #FFEEDD;
    }
}

#home-container a:hover {
  animation: button-hover 0.3s forwards;
}