.basic-content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 100px 50px 0 50px;
    min-width: 500px;
    max-width: 1000px;
    border: #FFEEDD 1px solid;
}

.basic-content-container h1 {
    font-size: 2em;
    padding: 10px 20px;
    background-color: #FFEEDD;
    color: #231F20;
    width: 200px;
    margin: 25px 0 0 0;
}

.basic-content-container h2 {
    font-size: 1.5em;
    margin: 0;
    line-height: 1.5em;
    color: #FFEEDD;
    padding: 5px 20px 10px 20px;
}

.basic-content-container li {
    font-size: 1em;
    margin: 0;
    line-height: 1.25em;
    color: #FFEEDD;
    padding: 0 20px 0 20px;
}

.basic-content-container p {
    font-size: 1em;
    margin: 0;
    line-height: 1.5em;
    color: #FFEEDD;
    padding: 5px 20px 10px 20px;
}

.basic-content-container a {
    font-size: 1em;
    line-height: 1.5em;
    color: #84A07C;
}