.basic-content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 100px 50px 0 50px;
    min-width: 500px;
    max-width: 1000px;
    border: $antique-white 1px solid;

    h1 {
        font-size: 2em;
        padding: 10px 20px;
        background-color: $antique-white;
        color: $shadow-grey;
        min-width: 200px;
        max-width: 350px;
        margin: 25px 0 0 0;
    }

    h2 {
        font-size: 1.5em;
        margin: 0;
        line-height: 1.5em;
        color: $antique-white;
        padding: 5px 20px 10px 20px;
    }

    li {
        font-size: 1.5em;
        margin: 0 0 0 30px;
        line-height: 1.25em;
        color: $antique-white;
        padding: 0 20px 0 20px;
    }

    p {
        font-size: 1.5em;
        margin: 0;
        line-height: 1.5em;
        color: $antique-white;
        padding: 5px 20px 10px 20px;
    }

    a {
        font-size: 1em;
        line-height: 1.5em;
        color: $muted-teal;
    }

    img {
        width: 500px;
    }
}