.basic-content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 100px 50px 0 50px;
    min-width: 500px;
    max-width: 1000px;
    border: $antique-white 1px solid;

    h1 {
        background-color: $antique-white;
        color: $shadow-grey;
        font-size: 2em;
        padding: 10px 20px;
        min-width: 200px;
        margin: 25px 0 0 0;
    }

    h2 {
        color: $antique-white;
        font-size: 1.5em;
        margin: 0;
        line-height: 1.5em;
        padding: 5px 20px 10px 20px;
    }

    li {
        color: $antique-white;
        font-size: 1.5em;
        margin: 0 0 0 30px;
        line-height: 1.25em;
        padding: 0 20px 0 20px;
    }

    p {
        color: $antique-white;
        font-size: 1.5em;
        margin: 0;
        line-height: 1.5em;
        padding: 5px 20px 10px 20px;
    }

    a {
        color: $muted-teal;
        font-size: 1em;
        line-height: 1.5em;
    }

    img {
        width: 500px;
    }

    button {
        margin: 20px 0 0 0;
        background-color: transparent;
        border: none;
        padding: 0;
        width: 100%;

        .blog-back-button {
            @include ubuntu-mono-bold;
            font-size: 1.5em;
            text-align: center;
            color: $vibrant-coral;
            padding: 5px 50px;

            &:hover {
                text-decoration: none;
                background-color: $vibrant-coral;
                color: $antique-white;
            }
        }
    }
}