.error-container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
}

.error-container h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
}

.error-container h1 {
  font-family: "Noto Sans Deseret", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.error-container p {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: normal;
}