.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;

    h1 {
        margin: 15px 0;
        font-size: 5em;
        @include noto-sans-deseret;
    }

    p {
        font-size: 1.5em;
        @include ubuntu-mono-bold;
    }
}