.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.error-container h1 {
    margin: 30px 0;
    font-size: 5em;
}

.error-container h1 {
    font-family: "Noto Sans Deseret", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.error-container p {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: normal;
}