body {
  color: #FF6663;
}

a:link {
  color: #FF6663;
  text-decoration: none;
}

a:visited {
  color: #FF6663;
}

#logo-container h1 {
  font-family: "Noto Sans Deseret", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

footer a, footer p {
  font-family: "Noto Sans Deseret", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

.error-container h1 {
  font-family: "Noto Sans Deseret", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.error-container p {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

#home-container a {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  text-align: center;
}