#home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    margin: 50px 0;
    align-items: stretch;

    a {
        @include ubuntu-mono-bold;
        font-size: 50px;
        text-align: center;
        padding: 5px 100px;

        &:hover {
            animation: button-hover 0.3s forwards;
        }
    }
}