@keyframes blink {
    0% {
        opacity: 0;
    }
    9% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    26% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes button-hover {
    from {
        background-color: transparent;
        color: $vibrant-coral;
    }
    to {
        background-color: $vibrant-coral;
        color: $antique-white;
    }
}