body {
    background-color: #231F20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 500px;
}

footer {
    margin-top: 90px;
}

footer a, footer p {
    display: inline;
}

#logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo-container h1 {
    margin: 0;
}

#logo-container img {
    position: relative;
    width: 200px;
    top: 30px;
}

#home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 50px 0;
}

.error-container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
}

.error-container h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
}