@mixin noto-sans-deseret {
    font-family: "Noto Sans Deseret";
    font-weight: 400;
    font-style: normal;
 }

 @mixin ubuntu-mono-bold {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: normal;
 }