#logo-container-large {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    a {
        @include noto-sans-deseret;
        font-size: 50px;
    }

    img {
        animation: blink 1s linear;
        position: relative;
        width: 200px;
        top: 30px;
    }

    h1 {
        margin: 0;
    }
}