#logo-container-large img {
    animation: blink 1s linear;
}

#logo-container-large a {
  font-family: "Noto Sans Deseret", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

#logo-container-large {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo-container-large h1 {
    margin: 0;
}

#logo-container-large img {
    position: relative;
    width: 200px;
    top: 30px;
}