nav {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 20px;
    border-bottom: 2px solid #FF6663;
    padding-bottom: 10px;
    width: 500px;

    a {
        font-size: 35px;
        padding: 0 15px;
        text-align: left;

        &:hover {
            animation: button-hover 0.3s forwards;
        }
    }
}