.slide-show-container {
    margin: 15px 20px;
    width: auto;
    position: relative;

    img {
        display: none;
        width: 100%;
    }

    .slide-show-buttons {
        display: flex;
        width: 100%;
        top: 0%;
        height: 100%;
        justify-content: space-between;
        position: absolute;
    }

    button {
        background-color: rgba(0, 0, 0, 0.1);
        color: $shadow-grey;
        padding: 10px 5px;
        width: 30px;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
            color: $antique-white;
        }
    }
}
