body {
    background-color: #231F20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 500px;
    margin: 0;
    color: #FF6663;
}