<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/main.js"></script>
    {% include fonts.html %}
  </head>
  <body>
    {% include logo.html %}
    <section id="home-container">
      <a href="/about">about</a>
      <a href="/blog">blog</a>
      <a href="https://linkedin.com/in/minsupark">resume</a>
    </section>
    {% include footer.html %}
  </body>
</html>